@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Torus";
  src: url("../public/torus.otf") format("truetype");
}

.torus-font {
  font-family: "Torus", sans-serif;
}

/* * {
  font-family: "Torus", sans-serif;
} */
